body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  margin: 1%;
}

.save {
  background-color: rgb(119,221,119);
  color: black;
}
.save:not(:disabled):not(.disabled).focus, 
.save:not(:disabled):not(.disabled):focus,
.save:not(:disabled):not(.disabled).hover, 
.save:not(:disabled):not(.disabled):hover{
  background-color: rgb(60,179,113);
  color: black;
}

.edit, .route {
  background-color: rgb(155,196,226);
  color: black;
}
.edit:hover, .edit:focus, .route:hover, .route:focus { 
  background-color: rgb(91,146,229); 
  color: black; 
}

.traffic {
  background-color: rgb(253,253,150);
  color: black;
}
.traffic:hover, .traffic:focus { 
  background-color: rgb(240,225,48);
  color: black;  
}

.delete {
  background-color: rgb(255,105,97);
  color: black;
}
.delete:hover, .delete:focus { 
  background-color: rgb(255,69,0);
  color: black;  
}

h2 {
  text-align: center;
}